TELEGRAM_BOT_TOKEN=8429306747:AAF8tSNSu90ivc7WEyDLsC6zb4vTsPiGg4s
TELEGRAM_GROUP_ID=-1003501919196
SUPABASE_URL=https://uhaaawuaqogjzzmzijji.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVoYWFhd3VhcW9nanp6bXppamppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA0MjE5NzEsImV4cCI6MjA4NTk5Nzk3MX0.rmI-JF23exUut9O2s_Yy8I_XL0j34bdTXFhrXtUjuto
